/* Estilos para el Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1E88E5;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    color: white;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #0D47A1;
    color: #fff;
}

.sidebar .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .menu-heading {
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.sidebar .logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

/* Estilos para el contenido fuera del sidebar */
.content {
    margin-left: 250px;
    padding: 20px;
}
